<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photo.album.dao.PhotoTypeDao">

    <resultMap id="BaseResultMap" type="com.photo.album.model.PhotoType">
        <result column="id" property="id"/>
        <result column="type_name" property="typeName"/>
        <result column="type_cover" property="typeCover"/>
        <result column="type_content" property="typeContent"/>
        <result column="type_remark" property="typeRemark"/>
    </resultMap>

    <sql id="Base_Column_List" >
        id,type_name,type_cover,type_content,type_remark
    </sql>

    <!-- 获取所有相册类型列表 -->
    <select id="getTypeList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM photo_type
    </select>

</mapper>